body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 40px;
}
/* Global forms for pages, but NOT navbar */
form {
  background: black;
  padding: 15px;
  border-radius: 8px;
  width: 175px;
}

/* Do NOT style navbar forms */
nav form {
  background: transparent !important;
  padding: 0 !important;
  width: auto !important;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}
